resstock-2.2.5/
Model/ElecLoadsHtgDecarb/
Proposal/
lit/
Data/load/
Data/Result No HP/
Data/Result Single Speed HP/
Data/Result Variable Speed HP/
Data/Result Water Heater HP/
Data/Summary Stats/
Results/
Draft/
